* {
    padding: 0;
    list-style: none;
    font-family: sans-serif;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.contenedor{
    width:1000px;
    height:755px;
   
}
.Izq{
    position: absolute;
    margin-left:3%;
    margin-top:40px;
    padding-top:50px;
    padding-left:20px;
    background:orange;
    width:30%;
    height:80%;
}
.der {
    position: absolute;
    margin-left: 45%;
    margin-top: 10px;
    width: 40%;
    height: 90%;
}
.imageninicio{
    position:absolute;
    margin-left: 0%;
    margin-top: 0px;
}
    .der h1 {
        position: relative;
        margin-left: 10%;
        font-size: 120px;
    }
    .imageninicio img {
        position: relative;
        margin-left: 40px;
    top: 0px;
    left: 12px;
}

.Datos {
    position:relative;
    margin-left: 35%;
    margin-top: 200px;
    height:800px;
    width: 200px;
}
.Datos #correoelectronico {
    position: relative;
    margin-left: 10%;
    margin-top:80px;
    
}
.Datos #nombre {
   position: relative;
    margin-left: 10%;
    margin-top:80px;
}
.Datos #username {
    position: relative;
    margin-left: 10%;
    margin-top:80px;
}
.Datos #fechanacimiento {
    position: relative;
    margin-left: 120px;
    margin-top:80px;
}
.Datos #pais {
    position: relative;
    margin-left: 10%;
    margin-top:80px;
}
.Datos #partidasGanadas {
    position: relative;
    margin-left: 10%;
    margin-top:80px;
}
.Datos #partidasPerdidas {
    position: relative;
    margin-left: 10%;
    margin-top:80px;
}
.Datos #partidasEmpatadas {
    position: relative;
    margin-left: 10%;
    margin-top:80px;
}
.Datos #puntostorneos {
    position: relative;
    margin-left: 10%;
    margin-top:80px;
}



.Tablero {
    position: absolute;
    margin-left: 35%;
    margin-top: 50px;
    width: 64%;
    height: 90%;
    
}
.Tablero img{
    position:absolute;
    margin-top:10px;
    margin-left:20%;
}
.Fichas {
    position:relative;
    margin-top:41px;
    margin-left:23%;
    width:620px;
    height:600px;
}
.Guarda {
    position:relative;
    margin-left: 30px;
    background:green;
    border:1px black;
    height: 20px;
    width: 120px;
}
.Guarda:hover {
    background-color: yellow;
}
.ficha {
    background-color: rgba(255,255,255,0);
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 0px;
    
}
    .ficha:hover {
    background-color: yellow;
    }



.fi1 {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.fi2 {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.fi3 {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.fi4 {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.fi5 {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.fi6 {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.fi7 {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.fi8 {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.Turnoactual {
    position: absolute;    
    margin-left: 1150px;
    margin-top: 10px;
}

    .Turnoactual #TurnoActual {
    color:green;
    font-size:large;
    }

.restultado {
    position: absolute;    
    margin-left: 1110px;
    margin-top: 700px;
}
.BotonPasar
{
    position: absolute;    
    margin-left: 1150px;
    margin-top: 750px;
}
    .BotonPasar .BotonPasar2 {
    background-color: mediumblue;
    color:white;
    height:50px;
    width:200px;
    }